{{>header}}

    <header>
        <div class="caixa">
            <h2 class="logo">Animeflix</h2>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Ação</a>
                <a href="#">Romance</a>
                <a href="#">Drama</a>
                <a href="#">Shounen</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="anime-principal">
            <div class="conteudo caixa">
                <h3 class="titulo">Kimetsu no yaiba</h3> 
                <p class="descricao">
                    Na história você acompanha um garoto que, após perder quase toda a sua família em um massacre feito por um demônio, e ter sua irmã transformada em uma dessas criaturas, decide se tornar um caçador de demônios, afim de se vingar e procurar uma cura para a mudança de sua irmã.
                </p>
                </div>
                <div class="btns caixa">
                    <button role="button" class="btn">
                        <i class="fa-solid fa-play"></i>
                        Assistir Agora
                    </button>
                    <button role="button" class="btn">
                        <i class="fa-solid fa-circle-info"></i>
                        Mais Informações
                    </button>
                </div>
            </div>
        </div> 
    </main>

    <section class="carrosel-animes">
        <h2 class="pb-4 mt-3 caixa">Animes da Temporada</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-5 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/01.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/02.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/03.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/04.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/05.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-5 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/06.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/07.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/08.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/09.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/10.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-5 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/11.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/12.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/13.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/14.jpeg" class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img class="box-anime" src="img/15.jpeg" class="card-img-top" alt="..."> 
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
    </section>


    <div class="footer">
        <footer>
            <p>Created by Fabricio Barreto</p>
        </footer>
    </div>


{{>footer}}