       
    <script src="https://kit.fontawesome.com/e507d1a58f.js" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>